{% extends 'main/base.html' %}
{% load static %}

{% block title%}RESCLIMA | DASHBOARDS CLIMA{% endblock %}

{% block content %}

<div class="section">
    <div id='mainViews'>
        <clima_component></clima_component>

    <div>
    {% if user.is_authenticated %}
        <a class="waves-effect waves-light btn" href="/dashboard" style="color: light blue;"><i class="material-icons left">keyboard_backspace</i>Atr&aacute;s</a>
    {% else %}
        <a class="waves-effect waves-light btn" href="dashboard/admin/" style="color: light blue;"><i class="material-icons left">keyboard_backspace</i>Atr&aacute;s</a>
    {% endif %}
</div>

{% endblock content %}
{% block scripts_body %}

	<script type= "text/javascript" src="{% static "main/js/vue.min.js" %}"></script>
	<script type= "text/javascript" src="{% static "main/js/vue-router.min.js" %}"></script>
    <script type= "text/javascript" src="{% static 'js/d3.v3.min.js'%}" ></script>
    <script type= "text/javascript" src="{% static 'js/d3.queue.min.js'%}" ></script>
    <script type= "text/javascript" src="{% static 'js/plotly-latest.min.js'%}" ></script>
    <script type= "text/javascript" src="{% static 'js/plotly_multi_time_series.js'%}" ></script>
    <script type= "text/javascript" src="{% static 'js/plotly_time_series.js'%}" ></script>
    <script type= "text/javascript" src="{% static 'js/plotly_grouped_bar_chart.js'%}" ></script>
    <script type= "text/javascript" src="{% static 'js/clima_component.js'%}" ></script>

{% endblock scripts_body %}