{% extends 'main/base.html' %}
{% load static %}

{% block title%}RESCLIMA | DASHBOARDS POBLACI&Oacute;N{% endblock %}

{% block content %}
<div class="section">
    <div id='mainViews'>
    <div class='row'>
        <div class="card">
          <div class="card-content">
            <h4 class="text-grey text-lighten-4">Informacion adquirida sobre poblaci&oacute;n</h4>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a class="active" href="#test4pob">Censo</a></li>
              <li class="tab"><a href="#test5pob">Nivel de Analfabetismo</a></li>
              <li class="tab"><a href="#test6pob">Vivienda</a></li>
            </ul>
          </div>
          <div class="card-content grey lighten-4">
            <div id="test4pob">
                <div class="row">
                    <div class="col s5">
                        <h4>Descripci&oacute;n</h4>
                        <h5>
                            Se presentan los datos respecto a valores
                            de censos tomados en el Ecuador, tomando
                            en consideraci&oacute;n los aspectos de distribuci&oacute;n
                            entre hombres y mujeres, nivel de analfabetismo y de
                            vivienda
                        </h5>
                    </div>
                    <div class="col s7 left" id="pobInit">
                        <span class="ml-2 " id="chart-pob1Graf"><span>
                        <p class="tblue-text text-darken-2">Seleccione la fecha del censo</p>
                        <input id="pieTime-chart-pob1Graf" class="ml-3 col s5 center" placeholder="año de censo" type="date" name="">
                    </div>
                </div>

            </div>
            <div id="test5pob">
                <div class="row">
                    <div class="col s5">
                    <h4>Descripci&oacute;n</h4>
                    <h5>
                        Se presentan los datos respecto a valores
                        de censos tomados en el Ecuador, tomando
                        en consideraci&oacute;n los aspectos de distribuci&oacute;n
                        entre hombres y mujeres, nivel de analfabetismo
                    </h5>
                    </div>
                    <div class="col s7 center" id="pobInit">
                        <span id="chart-pob2Graf"><span>
                        <input id="pieTime-chart-pob2Graf" placeholder="init date" type= "text" class="ml-3 col s5 datepicker center"  data-date-format='yyyy-mm-dd'  >
                        <input id="pielastTime-chart-pob2Graf" placeholder="last date" type= "text" class=" col s5 datepicker center"  data-date-format='yyyy-mm-dd'  > 
                    </div>
                </div>
            </div>
            <div id="test6pob">
                <div class="row">
                    <div class="col s5">
                    <h4>Descripci&oacute;n</h4>
                    <h5>
                        Se presentan los datos respecto a valores
                        de censos tomados en el Ecuador, tomando
                        en consideraci&oacute;n los aspectos de distribuci&oacute;n
                        entre hombres y mujeres, sobre la posesion de vivienda
                    </h5>
                    </div>
                    <div class="col s7 center" id="pobInit">
                        <span id="chart-pob3Graf"><span>
                        <input id="pieTime-chart-pob3Graf" placeholder="init date" type= "text" class="ml-3 col s5 datepicker center"  data-date-format='yyyy-mm-dd'  >
                        <input id="pielastTime-chart-pob3Graf" placeholder="last date" type= "text" class=" col s5 datepicker center"  data-date-format='yyyy-mm-dd'  > 
                    </div>
                </div>            
            </div>
          </div>
        </div>
    </div>

    <div>
    <button class="mb-2 btn waves-effect waves-light" type="button" onClick="window.history.back();"><i class="material-icons left">keyboard_backspace</i>Atrás</button>
</div>

{% endblock content %}

{% block scripts_body %}
	<script type= "text/javascript" src="{% static 'main/js/vue.min.js' %}"></script>
	<script type= "text/javascript" src="{% static 'main/js/vue-router.min.js' %}"></script>
    <script type= "text/javascript" src="{% static 'js/plotly-latest.min.js'%}" ></script>
    <script type= "text/javascript" src="{% static 'js/plotly_pie_chart.js'%}" ></script>
    <script type= "text/javascript" src="{% static 'js/plotly_line_chart.js'%}" ></script>
<script>

    $(document).ready(function(){
        plotlyPieChartSample("chart-pob1Graf","d3_pie_chart_censo" , null, null, "d3_pie_chart_7x7", false,"");
        plotly_ALF_line_chart("chart-pob2Graf", null, null, "d3_pie_censo_alf", domainLabel="años", rangeLabel="Personas", "d3_line_chart_7x7", false);
        plotly_Housing_line_chart("chart-pob3Graf", null, null, "d3_pie_censo_hou", domainLabel="años", rangeLabel="Viviendas", "d3_line_chart_7x7", false);
    });
    $('#pieTime-chart-pob1Graf').change(function(){
        year = new Date($('#pieTime-chart-pob1Graf').val());
        next_year = new Date(year.getFullYear() + 1, year.getMonth(), year.getDate())
        year = (year.toISOString().slice(0,10))
        next_year = (next_year.toISOString().slice(0,10))
        plotlyPieChartSample("chart-pob1Graf","d3_pie_chart_censo" , year, next_year, "d3_pie_chart_7x7", false,"");
    })
        
</script>
{% endblock %}