{% load static %}

<html lang="es">
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="description" content="Visualizador capa raster">
		<link rel="stylesheet" type= "text/css" href= "{% static "main/css/bootstrap.min.css"  %}" >
		<script src="{% static "main/js/jquery-3.2.1.min.js" %}" type= "text/javascript"></script>
		<script src="{% static "main/js/OpenLayers.js" %}" type= "text/javascript"></script>
	</head>
	<body>
		<div class = "container-fluid">

		<div class="row">
			<h1>{{rasterlayer.title}}</h1>
		</div>

		<div class="row">
			<div class="col-md-2">
				<h3>Resumen</h3>
				<p>{{rasterlayer.abstract}}</p>
				<h3>Fecha</h3>
				<p>{{rasterlayer.data_date}}</p>
				<div id="legend" style="padding:10px;"></div>
			</div>
		
			<div class="col-md-10">
				<div id="map" style="width:100%;height: 700px;">
				</div>
			</div>
		</div>

		</div>
		
	</body>
	<script>
		var layer_id = {{rasterlayer.id}}
		var bbox = {{bbox|safe}}
		var legend = {{legend|safe}}
		

		function createLegendRow(value,color){
			var row = document.createElement("div");
			
			var text = document.createElement("div");
			text.innerHTML = value;
			var symb = document.createElement("h5");
			//symb.style.display = "inline";
			symb.style.width = "15px";
			symb.style.height = "15px";
			symb.style.backgroundColor = color
			symb.style.borderWidth = "1"
			symb.style.borderStyle = "solid";
			symb.style.borderColor = "black";

			row.appendChild(symb);
			row.appendChild(text)
			return row;
		}

		function renderLegend(){
			var container = document.getElementById("legend")
			var length= legend.length;
			for (i=0; i< length; i++){
				var value = legend[i]["label"]
				var color = legend[i]["color"]
				var row = createLegendRow(value,color);
				container.appendChild(row);
			}


		}

		function getExtent(bbox_json){
			var geojson_format = new OpenLayers.Format.GeoJSON();
			var polygon = geojson_format.read(bbox_json)[0];
			polygon.geometry.transform('EPSG:4326','EPSG:900913');
			var coords = polygon.geometry.components[0]
			coords = coords.components
			var minX,minY,maxX,maxY
			minX = coords[0]["x"]
			minY = coords[0]["y"]
			maxX = coords[2]["x"]
			maxY = coords[2]["y"]
			console.log(minX,minY,maxX,maxY)
			return [minX,minY,maxX,maxY]
		}



		function renderMap(){


			var map = new OpenLayers.Map(
				{
					div:"map",
					projection:"EPSG:3857",
					displayProjection: new OpenLayers.Projection("EPSG:3857"),
					numZoomLevels:11,
					units: 'm'
				});
			
			var osm = new OpenLayers.Layer.OSM("OSM");
			map.addLayer(osm);
			var extent = getExtent(bbox);
			map.zoomToExtent(extent);

			// se pide la capa
            var layer = new OpenLayers.Layer.TMS('TMS',
                    "/tms/",
                    {serviceVersion: "1.0",
                    layername: layer_id,
                    type: 'png',
                    isBaseLayer: false
            })
            layer.opacity = 0.7
           	map.addLayer(layer);
		}


		function init(){		
			renderMap();
			renderLegend();
		}

		window.addEventListener("load",init);
	</script>
</html>
