{% extends 'main/base.html' %}
{% load static %}

{% block title%}RESCLIMA | BUSCAR{% endblock %}


{% block content %}

<div class="section">
	<div class="row">
		<div class="col s12 m12 l6">				
				<div class="card-panel">
					<h4>Importar Shapefile</h4>
					<div class="row">
						<form enctype="multipart/form-data" method="post" action="import" id="shapefileForm" class="col s12">
							<!-- File chooser --> 
							<div class="row">
								<label for="id_import_files">Importar archivos shapefile</label>
								<div class="file-field input-field">
									<div class="btn">
										<span>Archivos</span>
										<input type="file" name="import_files" required="" multiple="" id="id_import_files">
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text" placeholder="Seleccione archivos: .shp, .shx, .dbf, .prj, optional archivos .sld">
									</div>
								</div>
							</div>
							<!-- Codificacion --> 
							<div class="row">
								<div class="input-field col s12">
									<select name="encoding" id="id_encoding" class="initialized">
										<option value="ascii">ASCII</option>
										<option value="latin1">Latin-1</option>
										<option value="utf8">UTF-8</option>
									</select>
									<label for="id_encoding">Codificaci&oacute;n</label>
								</div>
							</div>
							<!-- Titulo --> 
							<div class="row">
								<div class="input-field col s12">
									<input type="text" name="title" required="" id="id_title">
									<label for="id_title">T&iacute;tulo</label>
								</div>
							</div>
							<!-- Resumen -->
							<div class="row">
								<div class="input-field col s12">
									<textarea name="abstract" id="id_abstract" width="100%" rows="10" cols="40" data-length="500" required="" class="materialize-textarea"></textarea>
									<label for="id_abstract">Resumen</label>
								</div>
							</div>
							<!-- Fecha -->
							<div class="row">
								<div class="col s12">
									<label for="data_date">Fecha de los datos</label>
									<input type="date" name="data_date" id="data_date">
								</div>
							</div>

							<!-- Botones -->
							<div class="row">
								<button type="submit" id="Upload" name="action" class="btn waves-effect waves-light">
									<i class="material-icons">file_upload</i>Subir
								</button>
								<button type="button" id="Cancel" onClick='window.location="/vector";' class="btn waves-effect waves-light">
									<i class="material-icons">cancel</i>Cancelar
								</button>
                        				</div>
						</form>
					</div>
					<div class="row">
						<div id="errorMsg"></div>
						<h3 id="uploadPercent"></h3>
					</div>
				</div>

		</div>
	</div>

</div>


{% endblock %}

{% block scripts_body %}
  <script>
    var form = $("#shapefileForm");

    function renderProcess(task_id){
      $.ajax({
            type: 'get',
            url: '/vector/get-task-info/',
            data: {'task_id': task_id},
            success: function (data) {
               console.log(data);
		 if (data.state == 'PENDING') {
                    uploadPercent.innerHTML = "Procesando 0%"
                }
                else if (data.state == 'PROGRESS' || data.state == 'SUCCESS') {
                    uploadPercent.innerHTML = "Procesando " + data.result.percent + "%"
                }
                if (data.state != 'SUCCESS') {
                    setTimeout(function () {
                        renderProcess(task_id)
                    }, 100);
                }
            },
            error: function (data) {
                errorMsg.innerHTML = "Error " + data.error;
            }
        });
    }

    function createXHR(){
      var xhr = new window.XMLHttpRequest();
      xhr.upload.addEventListener("progress",function(evt){
        if (evt.lengthComputable) {
          var percentComplete = evt.loaded / evt.total;
          percentComplete = parseInt(percentComplete * 100);
          if (percentComplete === 100){
            uploadPercent.innerHTML = "Completado, espere por favor"
            return;
          }
          uploadPercent.innerHTML = "Subido " + String(percentComplete) + "% ..."
        }

      },false);
      return xhr;
    }

    function successHandler(data){
      console.log(data)
      if(!data.error){
        renderProcess(data.task_id);
      }
      else{
        errorMsg.innerHTML = "<b><i>"+data.error+"</i></b>"
        uploadPercent.innerHTML = "";
      }
    }

    function errorHandler(data){
      console.error(data)
      status = String(data.status);
      msg = "<b><i>Ha ocurrido un error " + status+ " en el servidor</i></b>"
      errorMsg.innerHTML = msg;
      uploadPercent.innerHTML = "";
    }
    
    function formSubmit(){
      var data = new FormData(form.get(0));
      $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: data,
        processData: false,
        contentType: false,
        xhr: createXHR,
        success: successHandler,
        error: errorHandler
      });

      return false;
    }

    $(document).ready(function() {
      document.getElementById('data_date').valueAsDate = new Date();
      form.submit(formSubmit);
    });
 
  </script>
{% endblock %}

