{% load static %}

<html>
    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Modify Feature</title>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
        <style type="text/css">
            #controls {
                width: 512px;
            }
            #controlToggle {
                padding-left: 1em;
            }
            #controlToggle li {
                list-style: none;
            }
        </style>
        <script src="{% static "jquery.js" %}" type= "text/javascript"></script>
        <script src="{% static "OpenLayers.js" %}" type= "text/javascript"></script>
    </head>

    <body>
        <h1>RESCLIMA DURAN</h1>
        <a href="{% url 'login' %}">Iniciar Sesion</a>
        <div class="topnav">
            <a href="#">About</a>
            <a href="#">Contact</a> 
        </div>

        <div>
            <input id = "search_input" type="text" placeholder="Buscar...">
            <button id="search_button" type="button">º\</button>
        </div>

      </head>
      <br>
      <body>
        <div id="map" class="smallmap"></div>
        <div id="controls">
            <ul id="controlToggle">
                <li>
                    <input type="radio" name="type" value="none" id="noneToggle"
                           onclick="toggleControl(this);" checked="checked" />
                    <label for="noneToggle">navigate</label>
                </li>
                <li>
                    <input type="radio" name="type" value="regular" id="regularToggle" onclick="toggleControl(this);" />
                    <label for="regularToggle">draw regular polygon</label>
                    <label for="sides"> - sides</label>
                    <input id="sides" type="text" size="2" maxlength="2"
                           name="sides" value="4" onchange="update()" />
                </li>
                <li>
                    <input type="radio" name="type" value="modify" id="modifyToggle"
                           onclick="toggleControl(this);" />
                    <label for="modifyToggle">modify feature</label>
                    <ul>
                        <li>
                            <input id="createVertices" type="checkbox" checked
                                   name="createVertices" onchange="update()" />
                            <label for="createVertices">allow vertices creation</label>
                        </li>
                        <li>
                            <input id="rotate" type="checkbox"
                                   name="rotate" onchange="update()" />
                            <label for="rotate">allow rotation</label>
                        </li>
                        <li>
                            <input id="resize" type="checkbox"
                                   name="resize" onchange="update()" />
                            <label for="resize">allow resizing</label>
                            (<input id="keepAspectRatio" type="checkbox"
                                   name="keepAspectRatio" onchange="update()" checked="checked" />
                            <label for="keepAspectRatio">keep aspect ratio</label>)
                        </li>
                        <li>
                            <input id="drag" type="checkbox"
                                   name="drag" onchange="update()" />
                            <label for="drag">allow dragging</label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      
    </body>
        <div id="results_container">
        </div>
    </body>
    
    <script>
        var map, vectors, controls;

        function renderResults(results){
            var layers = results["layers"];
            var length = layers.length;
            if(length == 0){
                results_container.innerHTML = "<h3>No hay resultados</h3>"
            }
            results_container.innerHTML = "";

            for(var i=0; i< length; i++){
                var layer = layers[i];
                var div = document.createElement("div");
                var h3 = document.createElement("h3");
                h3.innerHTML = layer["title"];
                var h5 = document.createElement("h5");
                h5.innerHTML = layer["abstract"];
                var a = document.createElement("a");
                a.innerHTML = "Visualizar"
                a.href = layer["type"]+"/view/"+layer["id"];

                div.appendChild(h3);
                div.appendChild(h5);
                div.appendChild(a);
                div.style.borderStyle = "solid";
                div.style.borderWidth = "2px";
                div.style.borderColor = "blue";
                div.style.padding = "5px";

                results_container.appendChild(div);
            }
        }

        function search(text_query){
            if(url==""){
                return;
            }
            var url = "search/layer?q="+text_query;
            var request = $.get(url);
            request.done(function(results){
                renderResults(results)
            })

        }

        function init(){
            console.log("se empieza")
            search_button.addEventListener("click",function(event){
                var text_query = search_input.value
                search(text_query);
            });

            map = new OpenLayers.Map('map');
                var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS", 
                    "http://vmap0.tiles.osgeo.org/wms/vmap0?", {layers: 'basic'}); 
                OpenLayers.Feature.Vector.style['default']['strokeWidth'] = '2';
    
                // allow testing of specific renderers via "?renderer=Canvas", etc
                var renderer = OpenLayers.Util.getParameters(window.location.href).renderer;
                renderer = (renderer) ? [renderer] : OpenLayers.Layer.Vector.prototype.renderers;
    
                vectors = new OpenLayers.Layer.Vector("Vector Layer", {
                    renderers: renderer
                });
    
                map.addLayers([wms, vectors]);
                map.addControl(new OpenLayers.Control.LayerSwitcher());
                map.addControl(new OpenLayers.Control.MousePosition());
                
                if (console && console.log) {
                    function report(event) {
                        console.log(event.type, event.feature ? event.feature.id : event.components);
                    }
                    vectors.events.on({
                        "beforefeaturemodified": report,
                        "featuremodified": report,
                        "afterfeaturemodified": report,
                        "vertexmodified": report,
                        "sketchmodified": report,
                        "sketchstarted": report,
                        "sketchcomplete": report
                    });
                }
                controls = {
                    regular: new OpenLayers.Control.DrawFeature(vectors,
                                OpenLayers.Handler.RegularPolygon,
                                {handlerOptions: {sides: 4}}),
                    modify: new OpenLayers.Control.ModifyFeature(vectors)
                };
                
                for(var key in controls) {
                    map.addControl(controls[key]);
                }
                
                map.setCenter(new OpenLayers.LonLat(0, 0), 3);
                document.getElementById('noneToggle').checked = true;
        }

                    
                    function update() {
                // reset modification mode
                controls.modify.mode = OpenLayers.Control.ModifyFeature.RESHAPE;
                var rotate = document.getElementById("rotate").checked;
                if(rotate) {
                    controls.modify.mode |= OpenLayers.Control.ModifyFeature.ROTATE;
                }
                var resize = document.getElementById("resize").checked;
                if(resize) {
                    controls.modify.mode |= OpenLayers.Control.ModifyFeature.RESIZE;
                    var keepAspectRatio = document.getElementById("keepAspectRatio").checked;
                    if (keepAspectRatio) {
                        controls.modify.mode &= ~OpenLayers.Control.ModifyFeature.RESHAPE;
                    }
                }
                var drag = document.getElementById("drag").checked;
                if(drag) {
                    controls.modify.mode |= OpenLayers.Control.ModifyFeature.DRAG;
                }
                if (rotate || drag) {
                    controls.modify.mode &= ~OpenLayers.Control.ModifyFeature.RESHAPE;
                }
                controls.modify.createVertices = document.getElementById("createVertices").checked;
                var sides = parseInt(document.getElementById("sides").value);
                sides = Math.max(3, isNaN(sides) ? 0 : sides);
                controls.regular.handler.sides = sides;
                var irregular =  document.getElementById("irregular").checked;
                controls.regular.handler.irregular = irregular;
            }
    
            function toggleControl(element) {
                for(key in controls) {
                    var control = controls[key];
                    if(element.value == key && element.checked) {
                        control.activate();
                    } else {
                        control.deactivate();
                    }
                }
            }

        window.addEventListener("load",init);
    </script>
</html>