{% extends 'main/base.html' %}
{% load static %}

{% block title%}RESCLIMA | SERIES DE TIEMPO{% endblock %}

  {% block content %}
    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
        <!-- START CONTENT -->
        <section id="content">
            <div id="breadcrumbs-wrapper">
                <!-- Search for small screen -->
                <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
                  <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col s10 m6 l6">
                      <h5 class="breadcrumbs-title">INGRESO DE ARCHIVO</h5>
                    </div>
                  </div>
                </div>
              </div>
              
          <main class="container" role='main'>
            {% if messages %}
              <ul class="messages">
              {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
            <div id="file" class="section">
                <p>Por favor, a continuaci&oacute;n seleccione el archivo que desea cargar.</p>
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                  <div>
                      <input class="waves-effect waves-light btn gradient-45deg-light-blue-cyan" type="submit" id="Upload" value="Guardar"/>
                      <a onClick="javascript:history.go(-1);" style="margin-top: 0;" class="waves-effect waves-light btn gradient-45deg-red-pink">Cancelar</a>
                  </div>
                </form>
              </div>
          </main>
        </section>
      </div>
    </div>

  {% endblock content %}


