{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'timeSeries/css/up_down_arrows.css' %}" type="text/css">
{% endblock %}
	
{% block title%}RESCLIMA | INGRESAR ESTACION{% endblock %}

{% block content %}
<div class="section">
	<div class="row">
		<div class="col s12 m12 l6">
			<div class="card-panel">
				<h4>Ingresar Estaci&oacute;n</h4>

				<div class="row" id="errorMsg">
					{% if err_msg %}
					<div class="red"><b>{{err_msg}}</b></div>
					{% endif %}
				</div>

				<div class="row">
					<form method="post" id="StationForm">
						{% csrf_token %}
						<!-- Tipo de estacion -->
						<div class="row">
							<div class="col s12">
								{% if stationTypes %}
								<div><label>Tipo de estaci&oacute;n</label></div>
								<select id="id_stationType" name="stationType">
									{% for stationType in stationTypes  %}
									<option value={{stationType.id}} data-automatic={{stationType.automatic}}>{{stationType}}</option>
									{% endfor %}
								</select>
								{% endif %}
							</div>
						</div>
						<!--Numero serial-->
						<div class="row">
							<div class="input-field col s12">
								<input id="id_serialNum" name="serialNum" required="" type="text" data-length="30" oninvalid="setCustomValidity('Campo requerido')" oninput="setCustomValidity('')">
								<label for="id_serialNum">N&uacute;mero serial*</label>
							</div>
							<p class="col blue-text text-darken-2 s12 generic_message"></p>
						</div>

						<!--Latitud-->
						<div class="row">
							<div class="input-field col s12">
								<input id="id_latitude" name="latitude" required="" type="text" pattern="^-?(\d|[1-8]\d)(\.\d{1,7})?|90(\.00)?" oninvalid="setCustomValidity('Debe estar entre 90.000000° y -90.000000°')" oninput="setCustomValidity('')"/>
								<label for="id_latitude">Latitud*</label>
							</div>
						</div>
						<!--longitud-->
						<div class="row">
							<div class="input-field col s12">
								<input id="id_longitude" name="longitude" required="" type="text" pattern="^-?(\d|[1-9]\d|1[0-7]\d)(\.\d{1,7})?|180(\.00)?" oninvalid="setCustomValidity('Debe estar entre 180.000000° y -180.000000°')" oninput="setCustomValidity('')"/>
								<label for="id_longitude">Longitud*</label>
							</div>
						</div>
						<!--Frecuencia-->
						<div class="row optional">
							<div class="input-field col s12">
								<input id="id_frequency" name="frequency" type="text" pattern="^(1[5-9]|[2-5][0-9]|60)$" value="15" oninvalid="setCustomValidity('La frequencia debe estar entre 15 y 60 segundos')" oninput="setCustomValidity('')" />
								<label for="id_frequency">Frecuencia de requerimientos (en minutos)</label>
							</div>
						</div>
						<!--Token-->
						<div class="row optional">
							<div class="input-field col s12">
								<input id="id_token" name="token" type="text"  data-length="60" />
								<label for="id_frequency">Token</label>
							</div>
						</div>

						<div class="row">
							<div style="height:30px;"></div>
						</div>
						
						<!--Botones-->
						<div class="row">
							<button type="submit" id="Upload" name="action" class="btn waves-effect waves-light">
								<i class="material-icons left">file_upload</i>Subir
							</button>
							<button type="button" id="Cancel" onClick='window.location="/series";' class="btn waves-effect waves-light red accent-2">
								<i class="material-icons left">cancel</i>Cancelar
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts_body %}
<script>

	var form = $("#StationForm");

	function renderError(error){
		errorMsg.innerHTML = '<div class="red"><b>' + error + '</b></div>'
		window.scrollTo(0, 0);
	}

	function errorHandler(data){
		status = String(data.status);
		msg = "Ha ocurrido un error " + status+ " en el servidor"
		renderError(msg);
	}

	function successHandler(errorMsg){
		if(errorMsg!="None"){
			renderError(errorMsg);
		}
		else{
			window.location = "/series"
		}
	}


	function formSubmit(){
		var data = new FormData(form.get(0));
		$.ajax({
			type: form.attr('method'),
			url: form.attr('action'),
			data: data,
			processData: false,
			contentType: false,
			success: successHandler,
			error: errorHandler
		});
		return false;
	}


	function hideOrShowOptional(automatic){
		var options = document.querySelectorAll(".optional");
		var display = "";

		var display = (automatic=="True")?"":"None";

		for(var i=0; i < options.length; i++){
			var x = options[i];
			x.style.display = display;
		}
	}

	function hideOrShowGeneric(index){

		if(index === '3'){
			$('.generic_message').html("El id para una estación genérica puede ser creada por el usuario*")
		}else{ $('.generic_message').html("") }
	}

	function init(){
		var sensorTypes = document.getElementById("id_stationType");
		
		$('#id_stationType').material_select();

		$('#id_stationType').change(function(){
			var options = sensorTypes.options;
			var option = options[options.selectedIndex];
			var automatic = option.dataset["automatic"];
			hideOrShowGeneric(option.value);
			hideOrShowOptional(automatic);
		});
		
		// se oculta o muestran las opciones 
		var options = sensorTypes.options;
		var option = options[options.selectedIndex];
		var automatic = option.dataset["automatic"]
		hideOrShowGeneric(option.value);
		hideOrShowOptional(automatic);
		form.submit(formSubmit);
	}

	$(document).ready(init);


</script>
{% endblock %}

