{% load staticfiles %}

<html>
  <head>
    <title>Series de tiempo</title>
    <script src="{% static "jquery.js" %}" type= "text/javascript"></script>
  </head>
  <body>
    <h1>RESCLIMA DURAN</h1>
    
    {% block content %}
    <main class="container" role='main'>

      <div id="errorMsg"></div>

      <form method="post" id="StationForm">

        {% csrf_token %}
        <p>
        <label>Tipo de estaci&oacute;n</label>
        <select id="id_stationType" name="stationType">
          {% for station_type in station_types  %}
            <option value={{station_type.id}} data-automatic={{station_type.automatic}}>{{station_type}} </option>
          {% endfor %}
        </select>
        </p>
        <p>
          <label for="id_serialNum">Número serial:</label>
          <input id="id_serialNum" name="serialNum" type="text" />
        </p>
        <p>
          <label for="id_latitude">Latitud:</label>
          <input id="id_latitude" name="latitude" step="0.000001" type="number" />
        </p>
        <p>
          <label for="id_longitude">Longitud:</label>
          <input id="id_longitude" name="longitude" step="0.000001" type="number" />
        </p>
        <p class="optional">
          <label for="id_frequency">Frecuencia de requerimientos (en minutos):</label>
          <input id="id_frequency" name="frequency" step="1" type="number" />
        </p>
        <p class="optional">
          <label for="id_token">Token:</label>
          <input id="id_token" name="token" type="text" />
        </p>

        <input type="submit" id="Upload" value="Guardar"/>
        <a onClick="javascript:history.go(-1);" style="margin-top: 0;" class="btn btn-primary">Cancelar</a>
      </form>

    </main>
    {% endblock content %}

    <br>
    

  </body>

  <script>

    var form = $("#StationForm");

    function errorHandler(data){
      status = String(data.status);
      msg = "<b><i>Ha ocurrido un error " + status+ " en el servidor</i></b>"
      errorMsg.innerHTML = msg;
    }

    function successHandler(data){
      if(data=="OK"){
        window.location = "/series"
      }
      else{
        errorMsg.innerHTML = "<b><i>"+data+"</i></b>"
      }
    }


    function formSubmit(){
      var data = new FormData(form.get(0));
      $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: data,
        processData: false,
        contentType: false,
        success: successHandler,
        error: errorHandler
      });

      return false;
    }


    function hideOrShowOptional(option){
      console.log("me llamaron")
      var automatic = option.dataset["automatic"]
      var options = document.querySelectorAll(".optional");
      var display = "";

      var display = (automatic=="True")?"":"None";

      for(var i=0; i < options.length; i++){
        var x = options[i];
        x.style.display = display;
      }
    }

    function init(){
      var sensorTypes = document.getElementById("id_stationType");
      var options = sensorTypes.options;
      var option = options[options.selectedIndex];
      hideOrShowOptional(option);

      sensorTypes.addEventListener("change", function(e){
        var target = e.target;
        var options = target.options;
        var option = target[target.selectedIndex];
        hideOrShowOptional(option);      
      });

      form.submit(formSubmit);

    }

    $(document).ready(init);


  </script>

</html>
