{% extends 'main/base.html' %}
{% load static %}

{% block title%}RESCLIMA | VISUALIZAR SERIES DE TIEMPO{% endblock %}

{% block scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
<body>
  
  <div id="div1"></div>
  <div id="div2"></div>

</body>
{% endblock content %}

{% block scripts_body %}
<script type="text/javascript">

   //get data from url
   var urlParams = new URLSearchParams(window.location.search);
   var ini_date = urlParams.get("ini_date"); 
   var end_date = urlParams.get("end_date");
   //make sure we assign date params a value
   if(ini_date==null){
   		ini_date = "";
   }
   if(end_date ==null){
   		end_date = "";
   }
   var variableParams = urlParams.get("variables");
   //how to manage if in url theres no variables?

   //parse data
	var variables_info = variableParams.split("|");
	var params = {}
	var imax = variables_info.length
	for(var i=0 ; i<imax ; i++){
		//get the variable id
		var current = variables_info[i];
		var variable_id = current.charAt(0);
		//get variables of stations
		var estaciones_str = current.slice(2,current.length-1);
		var estaciones = estaciones_str.split(",");
		params[variable_id] = estaciones;
	}
	var ids_list = [];

	//get the data from the server
	for(var key in params){
		//make an ajax request per variable
		var len = params[key].length;
		var stations = params[key];
		//here we will store the lists of the values of the stations for a single variable id(which is key)
		var traces_x = [];
		var traces_y = [];
		//now make the request per each station
		for(var i=0;i<len;i++){
			$.ajax({ url : "http://127.0.0.1:8000/series/measurements/", 
				type:"POST",
				data: { "info": JSON.stringify({"variable_id":key,"station_id":stations[i], "ini_date":ini_date, "end_date":end_date}) },
				
				success : function(json) { 
					var var_id = json["series"]["variable_id"];
					if(ids_list.includes(var_id)){
						

						Plotly.addTraces("div"+var_id, [{x: json["series"]["dates"],y: json["series"]["measurements"]}]);
					}
					else{
						var div = "<div id=\"div"+var_id+"\"></div>";
						$( "body" ).append(div);
						ids_list.push(var_id);
						console.log(json["series"]["variable_name"]);
						var divid = "div"+var_id;
						var symbol = json["series"]["variable_symbol"];
						plotSingleTrace(json["series"]["dates"], json["series"]["measurements"], divid, json["series"]["variable_name"], symbol);
					}
					
				},
		    
				error : function(data) {
				 console.log("oh no :("); 
				 	} ,
				dataType: "json" 
			 });

		}


	};
	

	function plotTimeSerie(x_values_list, y_values_list, div_id){
		var data = []
		
		x_values_list = [[1,2,3,4]];
		var len = x_values_list.length;
		y_values_list = [[2,1,5,5]];
		if(len!=y_values_list.length){
			console.log("lists of measurements and dates of different length");
			return;
		}
		for(var i=0;i<len;i++){

			var trace1 = {
	 			x: x_values_list[i], 
	  			y: y_values_list[i], 
	  			type: 'scatter'
			};
			data.push(trace1);
		}

		var layout1 = {
			xaxis: {
    			title: 'tiempo',
    			
  			},
	  		yaxis: {
	       
	     	}
		};
		Plotly.newPlot(div_id, data, layout1);
	}

	function plotSingleTrace(x_values, y_values,div_id, y_title, symbol){
		var data = [];
		var trace = {
	 			x: x_values, 
	  			y: y_values, 
	  			type: 'path'
			};
		var layout1 = {
			title:y_title+" vs tiempo",
			xaxis: {
    			title: 's',
    			
  			},
	  		yaxis: {
	       		title: symbol,
	     	},
	     	showlegend: true
		};
		data.push(trace);
		Plotly.newPlot(div_id, data, layout1);
	}
  
 function variableTimeSerie(){
    
	  var trace1 = {
	  x: [1, 2, 3, 4], 
	  y: [10, 15, 13, 17], 
	  type: 'scatter'
	};
	var trace2 = {
	  x: [1, 2, 3, 4], 
	  y: [16, 5, 11, 9], 
	  type: 'scatter'
	};
	var data = [trace1, trace2];

	var layout1 = {
	  yaxis: {rangemode: 'tozero',
	          showline: true,
	          zeroline: true}
	};

	var layout2 = {
	  yaxis: {rangemode: 'tozero',
	          zeroline: true}
	};

	Plotly.newPlot('div1', data, layout1);
	   }

    
</script>
{% endblock %}
