#layerContainer{
	position: absolute;
	z-index: 100000;
	top:100px;
	width: 400px;

	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

#layerContainerOpen {
	cursor: pointer;
	width: 100px;
	left: 370px;
	top:270px;
	display: block;
	position: absolute;
	transform: rotate(90deg);
	color:white;
}

#layerList{
	height: 600px;
	overflow-y: scroll;
	background: #f9f9f9;
	background-color:white;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
			0 3px 14px 2px rgba(0, 0, 0, 0.12), 
			0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.layerItem{
	border-color: #29b6f6;
	border-width: 1px;
	border-style: solid;
	margin: 10px;
	padding: 10px;
}


@keyframes placeHolderShimmer{
	0%{
		background-position: -468px 0
	}
	100%{
		background-position: 468px 0
	}
}

.animated-background {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px 104px;
	padding: 10px;
	position: relative;
}
