#layerList{
	top:100px;
	background: #f9f9f9;
	background-color:white;
	padding:10px; 
	width: 250px;
	height: 400px;
	position: fixed;
	z-index: 100000;

	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

#layerList .arrow {
	color: rgba(0,0,0,0.75);
	cursor: pointer;
	right: 2px;
	display: block;
	position: absolute;
}

