
{% extends 'main/base.html' %}
{% load static %}

{% block title%}RESCLIMA | BUSCAR{% endblock %}


{% block content %}
	<!-- START MAIN -->
<div id="main">
		<div style="padding-top:1%;">
			<a class="waves-effect waves-light blue-text btn-flat modal-trigger"  onclick="$('#help').modal('open');" > <i class="small material-icons icon-blue">help_outline</i>Ayuda</a>
<div id="help" class="modal">
    <div class="modal-content">
      <h4 style="color:#2196f3;">Ayuda</h4>
	<p>Para poder buscar datos en la plataforma se requiere llenar al menos uno de los siguientes campos:</p>
	<p><b>Qu&eacute: </b>aqu&iacute se puede escribir una palabra clave para la b&uacutesqueda, y/o seleccionar categor&iacuteas, haciendo clic sobre ellas.</p>
	<p><b>D&oacutende: </b>si desea que los datos pertenezcan a una determinada zona geogr&aacutefica, coloque el cursor sobre el mapa y arr&aacutestrelo para dibujar un &aacuterea. </p>
	<p><b>Cu&aacutendo: </b>configure la fecha de inicio y/o fin si desea que los datos est&eacuten dentro de un intervalo. Si s&oacutelo se configura la fecha de inicio, la plataforma mostrar&aacute resultados hasta la fecha actual. Si s&oacutelo se configura la fecha de finalización, los resultados mostrados datar&aacuten hasta la fecha especificada.</p>
	<p><b>C&oacutemo: </b>seleccione si quiere buscar mapas o datos de estaciones meteorol&oacutegicas.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
		</div>

	<div id="searchForm" class="container">
		{% csrf_token %}
		<div class="section">
			<div class="row">
				<div class="col s12">
					<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
						<li class="active">

							<div class="collapsible-header active">¿Qu&eacute;?<div class="right_div">[[show_text]]</div></div>
							<div class="collapsible-body" style="display: block;">
								<textsearch_component></textsearch_component>
							</div>
						</li>
						<li>

							<div class="collapsible-header">¿D&oacute;nde? <div class="right_div">[[show_bbox]]</div></div>
							<div class="collapsible-body">
								<bbox_component></bbox_component>
							</div>
						</li>
						<li>

							<div class="collapsible-header">¿Cu&aacute;ndo? <div class="right_div">[[show_dates]]</div></div>
							<div class="collapsible-body">
								<time_component><time_component/>
							</div>
						</li>
						<li>

							<div class="collapsible-header">¿C&oacute;mo? <div class="right_div">[[show_option]]</div></div>
							<div class="collapsible-body">
								<div>
									<button
										class="btn-default"
										v-bind:class="{cyan: shared.search_option === 'layers'}"
										v-on:click.prevent="shared.search_option='layers'">
										<i class="material-icons">layers</i><br>Capas
									</button>
									<button
										style="margin-left:10px"
										class="btn-default"
										v-bind:class="{cyan: shared.search_option === 'series'}"
										v-on:click.prevent="shared.search_option='series'">
										<i class="material-icons">timeline</i><br>Series de tiempo
									</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div style="padding:10px;">
					<a class="btn waves-effect waves-light gradient-45deg-light-blue-cyan"  v-on:click="search"><i class="material-icons left">search</i>Buscar</a>
				</div>
			</div>
			<hr style="border-width:2px;">
			<div class="row">
				<div style="margin-top:20px;">
				<keep-alive>
					<component v-bind:is='shared.search_option+"_component"'></component>
				</keep-alive>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts_body  %}
	<script src="{% static "main/js/vue.min.js" %}"></script>
	<script src="{% static "main/js/vue-router.min.js" %}"></script>
	<script src="{% static "main/js/textsearch_component.js" %}"></script>
	<script src="{% static "main/js/OpenLayers.js" %}"></script>
	<script src="{% static "main/js/store.js" %}"></script>
	<script src="{% static "main/js/BboxSelector.js" %}"></script>
	<script src="{% static "main/js/bbox_component.js" %}"></script>
	<script src="{% static "main/js/time_component.js" %}"></script>
	<script src="{% static "main/js/layers_component.js" %}"></script>
	<script src="{% static "main/js/series_component.js" %}"></script>
	<script src="{% static "main/js/main.js" %}"></script>
	<script src="{% static "main/js/axios.min.js" %}"></script>
<script>
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('#help').modal();
  });

</script>


{% endblock%}
