{% extends 'main/base.html' %}
{% load static %}

{% block title%}RESCLIMA | BUSCAR{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
{% endblock %}

{% block scripts %}
    <script src="{% static "jquery.js" %}" type= "text/javascript"></script>
    <script src="{% static "OpenLayers.js" %}" type= "text/javascript"></script>
    <script src="{% static "BboxSelector.js" %}" type= "text/javascript"></script>
    <script src="{% static "home.js" %}" type="text/javascript"></script> 
{% endblock %}


{% block content %}

    <div>
        <input id = "search_input" type="text" placeholder="Buscar...">
        <button id="search_button" type="button">º\</button>
        <h4>
            Ingrese las fechas para su consulta:
        </h4>
        <p><label>Inicio: </label><input type="date" name="data_date" id="data_date"/>
            <label>Fin: </label><input type="date" name="data_date" id="data_date"/></p>
    </div>
    
    <div class="con-checks">
        <h4>
            Tags:
        </h4>
        <input id="check1" type="checkbox" name="" value="check 1">
        <label for="check1">Islas de calor</label>
        
        <input id="check2" type="checkbox" name="" value="check 2">
        <label for="check2">Inundaciones</label>
        
        <input id="check3" type="checkbox" name="" value="check 3">
        <label for="check3">Movilidad</label>
    <div>
    <br>
    
    <div id="bbox_selector_container">
    </div>
  
    <div id="results_container">
    </div>

{% endblock %}

