{% extends 'main/base.html' %}
{% load static %}

{% block title%}RESCLIMA | BUSCAR{% endblock %}


{% block content %}
	<div>
		<div id="searchForm" class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<div>
						<label>¿Qu&eacute;?</label>
						<input 
							type="search" 
							v-model="textsearch"
							v-on:focus="currentComponent='categories_component'" 
							autofocus>
					</div>
					<div>
						<label>¿D&oacute;nde?</label>
						<input 
							type="search"
							v-on:focus="currentComponent='bbox_component'">
					</div>
					<div>
						<label>¿Cu&aacute;ndo?</label>
						<input 
							type="text"
							v-on:focus="currentComponent='time_component'">
					</div>
					<div>
						<label>¿C&oacute;mo?</label>
						<button
							class="btn-default"
							v-bind:class="{active: search_option === 'Layers'}"
							v-on:click.prevent="search_option='Layers'">
							Capas
						</button>
						<button
							class="btn-default"
							v-bind:class="{active: search_option === 'Series'}"
							v-on:click.prevent="search_option='Series'">
							Series de tiempo
						</button>
					</div>
					<div style="padding:60px;">
						<input type="button" value="Buscar" v-on:click="buscar">
					</div>
				</div>
				<div class="col-md-9">
					<keep-alive>
					    <component v-bind:is="currentComponent"></component>
					</keep-alive>
				</div>
			</div>
			<!-- Lista de resultados -->
			<div class="row">
				<keep-alive>
					<component v-bind:is="currentList"></component>
				</keep-alive>
			</div>
		</div>
	</div>
    

{% endblock %}


{% block scripts_body  %}
	<script src="{% static "main/js/vue.min.js" %}"></script>
	<script src="{% static "main/js/categories_component.js" %}"></script>
	<script src="{% static "main/js/OpenLayers.js" %}"></script>
	<script src="{% static "main/js/model.js" %}"></script>
	<script src="{% static "main/js/BboxSelector.js" %}"></script>
	<script src="{% static "main/js/bbox_component.js" %}"></script>
	<script src="{% static "main/js/time_component.js" %}"></script>
	<script src="{% static "main/js/layers_component.js" %}"></script>
	<script src="{% static "main/js/main.js" %}"></script>
{% endblock%}
