{% extends 'main/base.html' %}
{% block title%}RESCLIMA | LOGOUT{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="wrapper">

  <form class="form-signin">
    <h2 class="form-signin-heading" style="text-align: center;">Sesión cerrada correctamente</h2>
    <p>Para iniciar sesión nuevamente pulse sobre el botón</p>
    <a href="{% url 'home' %}" class="btn btn-lg btn-primary btn-block">Inicio</a>
  </form>
</div>

{% endblock content %}
