{% extends 'main/base.html' %}
{% load static %}

{% block title%}RESCLIMA | PERFIL{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <td>{{ researcher.name }}</td>
    <td>{{ researcher.last_name }}</td>
    <br><td>{{ researcher.institution }}</td></br>
    <br><br><b>Opciones:</b><br><br>
    <button type="button" onClick='window.location="/";'>Buscar</button><br>
    <button type="button" onClick='window.location="/series";'>Time Series</button><br>
    <button type="button" onClick='window.location="/vector";'>Vector Layers</button><br>
    <button type="button" onClick='window.location="/raster";'>Raster Layers</button>
 

{% endblock content %}

